* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 1rem auto;
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.project-card {
  display: inline-block;
  width: 45%;
  margin: 1rem;
  background-color: #e2e2e2;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.project-card:hover {
  background-color: #ddd;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
#project-info {
  display: none;
  padding: 1rem;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#project-details {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}
